extends admin_layout

block content
  .panel-header.panel-header-sm
  .content
    .card
      .card-header
        .d-flex.justify-content-between
          h3.m-3 공지사항
          a.text-white.btn.btn-primary(href='/admin/notice/create', style='height:3em;') 글쓰기
      .card-body.overflow-auto
        ul.list-group.list-group-flush.text-center
          li.list-group-item.list-group-item-dark.font-weight-bold
            .row
              .d-none.d-md-block.col-md-1 #
              .col-9.col-md-6 제목
              .d-none.d-md-block.col-md-3 작성일시
              .col-3.col-md-2 조회수
          if(list.length > 0)
            each item, idx in list
              - var created_time = new Date(item.created);
              li.list-group-item(class=idx%2===1?'list-group-item-secondary':'')
                .row
                  .d-none.d-md-block.col-md-1 #{idx + 1}
                  .col-9.col-md-6
                    a(href='/admin/notice/read/' + item._id) #{item.title}
                  .d-none.d-md-block.col-md-3 #{created_time.toLocaleString('ko')}
                  .col-3.col-md-2 #{item.read_count}
          else
            li.list-group-item
              .col 작성된 글이 없습니다.
      .card-footer
        .form-group
block append_js
  script.
    console.log(!{JSON.stringify(list)})