extends admin_layout

block content
  style.
    #tableClosed .form-check-sign::before, #tableClosed .form-check-sign::after {
      top: 0px;
      left: 0px;
    }

    #tableClosed .form-check {
      width: inherit;
    }

    #tableClosed input {
      border: none;
      width: 100%;
      background-color: transparent;
      text-align: center;
    }

    #tableClosed input:focus, input.type_num:focus {
      outline: none;
    }

    #tableClosed td.input-td {
      background-color: lightgoldenrodyellow
    }

    #tableClosed td {
      padding: 0.3rem;
    }

    #tableClosed input.type_num, input.type_num {
      width: 50px;
      background-color: lightgoldenrodyellow;
      border: none;
    }
    .status-color[data-color="정상"]{color:blue;}
    .status-color[data-color="삭제"]{color:#888;}
    .status-color[data-color="삭제요청"]{color:red;}
  .panel-header.panel-header-sm
  .content
    .row
      .col-12
        .card
          .card-header
            h4.card-title 휴무계 관리
          .card-body.overflow-auto(style='max-height:800px; min-height:75vh;')
            .form-group.row
              .col-1(style='min-width:100px;')
                select.selectpicker.d-block.w-100(data-style="select-with-transition btn-primary p-2" name='year')
                  option(value='2019') 2019
                  option(value='2020') 2020
              label.col-form-label 년
              .col-1(style='min-width:90px;')
                select.selectpicker.d-block.w-100(data-style="select-with-transition btn-primary p-2" name='month')
                  - var val = 0;
                  while val < 12
                    option(value=++val, selected=val==month) #{val}
              label.col-form-label.h5 월
              .col-1(style='min-width:70px;')
                button.btn.btn-success.m-0.p-2(onclick='fnSearchClosed()') 조회
              .col-md-4
                form(onsubmit='fnSearchClosedEmployee(); return false;')
                  .input-group
                    input.form-control.rounded-0(type='text', name='searchEmployee', placeholder='검색할 직원을 입력해주세요.')
                    .input-group-append
                      button.btn.btn-primary.input-group-append(type='submit') 조회
              .col-md-2
                button.btn.btn-danger.m-0.p-2(onclick='fnDeleteChecked()', style='height:38px;') 체크항목 삭제

            ul.list-group.list-group-flush#list-closed
              li.list-group-item.bg-info.text-white.font-weight-bold
                .row
                  .col
                    .form-check.p-0
                      label.form-check-label
                        input.form-check-input(type="checkbox", onclick='fnCheckAll(this)', data-toggle='false')
                        span.form-check-sign
                  .col #
                  .col-md-3.col-12 신청구분
                  .col-md-1.col-6 부서
                  .col-md-1.col-6 직급
                  .col-md-3.col-6 사유
                  .col-md-2.col-6 신청인
                  .col-md-1.col-6 상태
              each row, idx in list
                - var type = '';
                case row.closed_type
                  when 'annualLeave'
                    - type = '연차';
                  when 'reserveForces'
                    - type = '예비군/민방위훈련';
                  when 'familyEvent'
                    - type = '';
                  when 'Absenteeism'
                    - type = '무단결근';
                  when 'tardy'
                    - type = '지각/조퇴';
                - var status = row.status === 1?'정상':row.status===2?'삭제요청':'삭제'
                li.list-group-item(class=idx%2===1?'list-group-item-secondary':'')
                  .row
                    .col
                      .form-check.p-0
                        label.form-check-label
                          input.form-check-input(type="checkbox", value=row._id, data-check)
                          span.form-check-sign
                    .col #{idx + 1}
                    .col-md-3.col-12 #{type}
                    .col-md-1.col-6 #{row.department}
                    .col-md-1.col-6 #{row.rank}
                    .col-md-3.col-6 #{row.reason}
                    .col-md-2.col-6
                      a.text-info(href='#', style='text-decoration:none;', onclick='fnShowClosedModal("' + row._id.toString() + '")') #{row.user_id.user_nick}
                    .col-md-1.col-6.status-color(data-color=status) #{status}
          .card-footer
  // 휴무계 검색 결과 모달창
  #closedEmployeeList.modal.fade(tabindex="-1", role="dialog", aria-labelledby="closedEmployeeListLabel", aria-hidden="true")
    .modal-dialog.modal-lg(role='document')
      .modal-content
        .modal-header
          h5#closedEmployeeListLabel.modal-title 휴무계 사용 현황
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') x
        .modal-body
          .d-flex.justify-content-between
            .py-3.font-weight-bold
              span 직원명 :
              span.ml-3#employeeName
            .py-3
              span 총 &nbsp;
                strong#closed_count
                | 개
          #closedList
  // 휴무계 상세 내용 모달창
  #closedModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="closedModalLabel", aria-hidden="true")
    .modal-dialog.modal-lg(role="document")
      .modal-content
        .modal-header
          h5#closedModalLabel.modal-title 휴무계 작성
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') x
        .modal-body
          form#formClosed
            .table.table-responsive
              table.table.text-center.table-bordered#tableClosed
                colgroup
                  col(style='background-color:#aaa;')
                  col(style='background-color:#aaa;')
                  col(width=200)
                  col(width=200)
                  col(width=200)
                tbody
                  tr
                    th.text-nowrap(rowspan=2, width='80px') 신청구분
                    th.text-nowrap(width='60px') 유급
                    td
                      .form-check.text-left.text-nowrap
                        label.form-check-label
                          input.form-check-input(type="checkbox", name='closed_type', value='annualLeave', disabled)
                          span.form-check-sign
                          | 연차
                    td
                      .form-check.text-left.text-nowrap
                        label.form-check-label
                          input.form-check-input(type="checkbox", name='closed_type', value='reserveForces', disabled)
                          span.form-check-sign
                          | 예비군/민방위훈련
                    td
                      .form-check.text-left.text-nowrap
                        label.form-check-label
                          input.form-check-input(type="checkbox", name='closed_type', value='familyEvent', disabled)
                          span.form-check-sign
                          | 경조사(취업규칙에근거)
                  tr
                    th 무급
                    td(colspan=2)
                      .form-check.text-left.text-nowrap
                        label.form-check-label
                          input.form-check-input(type="checkbox", name='closed_type', value='Absenteeism', disabled)
                          span.form-check-sign
                          | 무단결근(현장보고 및 본사에 휴가계 사후제출 시)
                    td
                      .form-check.text-left.text-nowrap
                        label.form-check-label
                          input.form-check-input(type="checkbox", name='closed_type', value='tardy', disabled)
                          span.form-check-sign
                          | 지각/조퇴
                  tr
                    th(colspan=2, rowspan=2) 신청인
                    td 부서
                    td 직급
                    td 성명
                  tr
                    td.input-td
                      input(type='text', name='department', readonly)
                    td.input-td
                      input(type='text', name='rank', readonly)
                    td.input-td
                      input(type='text', name='user_nick', readonly)
                  tr
                    th(colspan=2, rowspan=2) 신청기간
                    td.input-td(colspan=3)
                      input(type='text', name='application_period', readonly)
                  tr
                    td(colspan=3)
                      | ( &nbsp;
                      input.text-center.type_num(type='text', name='days', readonly)
                      | &nbsp; ) &nbsp; 일 간
                  tr
                    th(colspan=2) 사유
                    td.input-td(colspan=3)
                      input(type='text', name='reason', readonly)
                  tr
                    th(colspan=2, rowspan=2) 현장보고
                    td 허가자 성명
                    td 보고일시
                    td 허가자 연락처
                  tr
                    td.input-td
                      input(type='text', name='licenserName', readonly)
                    td.input-td
                      input(type='text', name='reportDate', readonly)
                    td.input-td
                      input(type='text', name='licenserTel', readonly)
            #closedAttachedFile.my-3
            p 위와 같이 휴무계를 사용하고자 하오니 허가하여 주시기 바랍니다.
            .text-right
              input.type_num.text-center(type='text', name='closed_year', readonly)
              span 년
              input.type_num.text-center(type='text', name='closed_month', readonly)
              span 월
              input.type_num.text-center(type='text', name='closed_day', readonly)
              span 일
            br
            p.text-danger.mb-0 ※ 휴무의 당일 현장보고 및 회사보고 = 무급에 해당함.
            p.text-danger &nbsp;&nbsp;&nbsp; 단, 병가로 인한 경우 병원 진단서 또는 진료확인서 제출시에는 연차 처리 가능.
            h4 KTOP Inc. 대표이사 귀하
            #isImproveFileUploaded
              label 증빙파일
              a.ml-3(name='updatedImproveFile', target='_blank')
        .modal-footer.justify-content-center
          button.btn.btn-danger.mr-3(type="button" data-dismiss="modal") 닫기
          button.btn.btn-info.d-none(type="button", name='btnDelete', onclick='fnDeleteDoc()') 삭제요청승인
          input(type='hidden', name='doc_id')
block append_js
  script(src='/assets/js/custom/admin_closed.js', type='text/javascript')
  script.
    let list = !{JSON.stringify(list)};
    console.log('list : ', list);
    // 휴무계 읽기
    function fnShowClosedModal(id) {
      let doc = list.filter(function (v) {
        if (v._id === id) return v;
      })[0];
      document.querySelectorAll('input[name="closed_type"]').forEach(function (v) {
        v.checked = false;
      });
      document.querySelector('input[value="' + doc.closed_type + '"]').checked = true;
      document.querySelectorAll('input[type="text"]:not([name="searchEmployee"])').forEach(function (v) {
        if (v.name === 'user_nick') v.value = doc.user_id.user_nick;
        else v.value = doc[v.name];
      });
      document.querySelector('input[name="doc_id"]').value = doc._id;
      let btnDelete = document.querySelector('button[name="btnDelete"]');
      if (doc.status === 2) {
        btnDelete.setAttribute('class', 'btn btn-info');
      } else {
        btnDelete.setAttribute('class', 'btn btn-info d-none');
      }
      // 증빙파일
      let isImproveFileUploaded = document.querySelector('#isImproveFileUploaded');
      if(doc.improvePath !== ''){
        // let improveFile = document.querySelector('a[name="updatedImproveFile"]');
        // improveFile.innerText = doc.improveOriginal;
        // improveFile.href = doc.improvePath.replace('./', '/');
        // isImproveFileUploaded.className = 'd-block';
      }else{
        isImproveFileUploaded.className = 'd-none';
      }
      $('#closedModal').modal('show');
    }