extends admin_layout

block content
  .panel-header.panel-header-sm
  .content
    .card
      .card-header
        h3.m-3 공지사항
      .card-body.overflow-auto
        .table(style='height:50vh')
          table.table.table-bordered.table-striped
            thead
              tr
                th.text-center(style='width:5%') #
                th.text-center(style='width:50%') 제목
                th.text-center(style='width:20%') 작성일시
                th.text-center(style='width:10%') 조회수
            tbody
              if(list.length > 0)
                each item, idx in list
                  - var created_time = new Date(item.created);
                  tr
                    td.text-center #{idx + 1}
                    td.text-center
                      a(href='/admin/notice/read/' + item._id) #{item.title}
                    td.text-center #{created_time.toLocaleString('ko')}
                    td.text-center #{item.read_count}
              else
                tr
                  td.text-center(colspan='4') 작성된 글이 없습니다.
      .card-footer
        .form-group
          a.text-white.btn.btn-primary(href='/admin/notice/create') 글쓰기
block append_js
  script.
    console.log(!{JSON.stringify(list)})