extends layout

block content
  .wrapper
    .content
      .space-100
      .container
        .row
          .col-12
            .card.text-center.mt-3
              .card-header.mt-3
                h4.text-dark 휴무계 작성 리스트
                .row
                  .col-md-2.ml-auto
                    a.btn.btn-link.text-primary(href='#', data-toggle='modal', data-target='#closedWriteModal') 휴무계작성
              .card-body.text-dark.overflow-auto(style='max-height:60vh')
                ul.list-group.list-group-flush.text-left
                  li.list-group-item.font-weight-bold.bg-secondary.text-white
                    .row
                      .d-none.d-md-block.col-md-1 순번
                      .col-12.col-md-3 기간
                      .col-5.col-md-3 사유
                      .col-4.col-md-2 보고일시
                      .d-none.d-md-block.col-4.col-md-2 작성일
                      .col-3.col-md-1 상태
                  if(list.length === 0)
                    li.list-group-item
                      .row
                        .col-12.text-center 작성된 휴무계가 없습니다
                  each row, idx in list
                    - var status = row.status === 1 ? '정상':row.status === 2? '삭제요청':'삭제';
                    a(href='#', onclick='fnReadDoc("' + row._id + '")')
                      li.list-group-item.px-2(class=idx % 2 === 1 ? 'list-group-item-secondary':'')
                        .row
                          .d-none.d-md-block.col-md-1 #{idx + 1}
                          .col-12.col-md-3 #{row.application_period}
                          .col-5.col-md-3 #{row.reason}
                          .col-4.col-md-2 #{row.reportDate}
                          .d-none.d-md-block.col-4.col-md-2 #{row.closed_year}.#{row.closed_month}.#{row.closed_day}
                          .col-3.col-md-1 #{status}
  // 달력선택 모달창
  style.
    .file-wrap {font-size: 12px; border: 1px solid #ccc;}
    .file-wrap label {background-color: lightblue; padding: .25rem .5rem; margin-bottom: 0;}
    .file-wrap input {background-color: lightyellow;}

  // 휴무계 보고일시 날짜 입력 모달창
  include my_close/selectCalendarModal
  // 휴무계 기간선택 모달창
  include my_close/selectedRangeModal
  // 휴무계 모달창(쓰기)
  include  my_close/closedWriteModal
  // 휴무계 모달창(읽기)
  include  my_close/closedModal

block append_js
  script(src='/assets/js/custom/closed.js', type='text/javascript')