extends layout

block content
	style.
		#table_report td {
			white-space: nowrap;
		}

	.wrapper.h-auto
		.container-fluid.p-0(style='width:90%')
			.card(style='margin-top:90px;')
				.card-header
					.form-group.p-3
						- var selected_month = search_year + '-' + search_month;
						select.selectpicker(data-style='select-with-transition btn-neutral', data-width='fit', title='월 선택', name='work_month')
							each month in groupByMonth
								option(value=month._id, selected=selected_month === month._id) #{month._id}
						label.mr-3 &nbsp; 월 가동보고서
						button.btn.btn-primary(type='button', onclick='fnSearchMonth()') 조회
					.row.text-center
						h5.m-0.col-md-3 #{search_year}年 #{search_month}月分
						h3.m-0.col-md-6 稼 動 報 告 書
						h5.m-0.col-md-3 KTOP Inc.
				.card-body
					.table.overflow-auto.p-3#table_report
						table.table.table-bordered.text-center
							thead
								tr
									td(colspan='3') ﾌﾘｶﾞﾅ
									td(colspan='2') LEE HO KYOUNG
									td(rowspan='2')
										.rounded-circle.mx-auto.p-2.text-danger.font-weight-bold(style='width:45px; border:2px solid #FF3636; white-space:normal;') #{user_info.user_nick}
									td(colspan='4', rowspan='2')
								tr
									td(colspan='3') 氏　名
									td(colspan='2') #{user_info.user_nick}
								tr
									td(colspan='3') 対応現場先
									td(colspan='3') M14-PJT PH-2-B-1
									td(rowspan='2', style='width:60px;') 日額
									td(rowspan='2', style='width:60px;') 定時
									td(rowspan='2', style='width:60px;') 殘業
									td(rowspan='2', style='width:60px;') 夜間
								tr
									td(style='width:60px;') 日
									td(style='width:80px;') 曜日
									td(style='width:150px;') 開始時刻
									td(style='width:150px;') 終了時刻
									td 内　容
									td(style='width:150px;') 対応時間
							- var day = ['日', '月', '火', '水', '木', '金', '土'];
							- var total_time = 0;
							- var total_work_day = 0;
							- var total_work_under = 0;
							- var total_work_over = 0;
							tbody
								each row in report_list
									- var date = new Date(row.work_date);
									- var start = row.works ? row.works.start_time ? row.works.start_time.split(':') : '' : '';
									- var end = row.works ? row.works.end_time ? row.works.end_time.split(':') : '' : '';
									- var diff_hours = parseInt(end[0]) - parseInt(start[0]);
									- var diff_min = (parseInt(end[1]) - parseInt(start[1])) / 60;
									- var work_day = (isNaN(parseFloat(diff_hours) + parseFloat(diff_min)))?0:parseFloat(diff_hours) + parseFloat(diff_min);
									// - total_time += isNaN(work_day)?0:work_day;
									- total_time += work_day;
									- var work = parseFloat(work_day) >= 8 ? 1:0;
									- var work_under = parseFloat(work_day) < 8 ? parseFloat(work_day) : 0;
									- var work_over = parseFloat(work_day) > 10 ? parseFloat(work_day) - 10 : 0;
									- total_work_day += work;
									- total_work_under += work_under;
									- total_work_over += work_over;
									tr
										td #{date.getDate()}
										td #{day[date.getDay()]}
										td #{row.works ? row.works.start_time : ''}
										td #{row.works ? row.works.end_time : ''}
										td #{row.works ? row.works.work_title : ''}
										td #{work_day > 0 ? work_day.toFixed(2) + ' H' : ''}
										td #{parseFloat(work_day) >= 8 ? 1 : ''}
										td #{(parseFloat(work_day) < 8 && work_day !== 0)? work_day.toFixed(2) + ' H' : ''}
										td #{parseFloat(work_day) > 10 ? (parseFloat(work_day) - 10).toFixed(2) + ' H': ''}
										td
								tr
									td(colspan='5') 合計
									td #{total_time.toFixed(2)} H
									td #{total_work_day}
									td #{total_work_under.toFixed(2)} H
									td #{total_work_over.toFixed(2)} H
									td 0
								tr
									td(colspan='10')
										.d-flex.justify-content-between
											div
											.border(style='width:230px; height:130px')
												.mt-2(style='text-decoration:underline') 現場責任者様承認印
					.form-group
						button.btn.btn-success(type='button', onclick='fnDownPDF()') PDF 다운로드
	style.
		#htmlToCanvas canvas{width:100% !important; height:auto !important;}
		#pdfModal .modal-lg{max-width:90% !important;}
		/*.html2canvas-container { width: 100% !important; height: 1000px !important; }*/
	#pdfModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='pdfModalLabel', aria-hidden='true')
		.modal-dialog.modal-lg(role='document')
			.modal-content
				.modal-header
					h5#pdfModalLabel.modal-title 가동보고서
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') &times;
				.modal-body
					#htmlToCanvas
				.modal-footer.justify-content-center
					button.btn.btn-danger.mr-3(type='button', data-dismiss='modal') 확인
block append_js
	script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js")
	script(type="text/javascript" src="/assets/js/plugins/html2canvas.min.js")
	script(type='text/javascript', src='/assets/js/custom/report.js')
	script.
		console.log('work list : ', !{JSON.stringify(report_list)});
		console.log(!{JSON.stringify(user_info)});
