extends layout

block content
  style.
    #table_report td{white-space: nowrap;}

  .wrapper.h-auto
    .container-fluid.p-0
      .card(style='margin-top:90px;')
        .card-header
          .form-group.p-3
            - var selected_month = search_year + '-' + search_month;
            select.selectpicker(data-style='select-with-transition btn-neutral', data-width='fit', title='월 선택', name='work_month')
              each month in groupByMonth
                option(value=month._id, selected=selected_month===month._id) #{month._id}
            label.mr-3 &nbsp; 월 가동보고서
            button.btn.btn-primary(type='button', onclick='fnSearchMonth()') 조회
          .row.text-center
            h5.m-0.col-md-3 #{search_year}年 #{search_month}月分
            h3.m-0.col-md-6 稼 動 報 告 書
            h5.m-0.col-md-3 KTOP Inc.
        .card-body
          .table.overflow-auto#table_report
            table.table.table-bordered.text-center
              thead
                tr
                  td(colspan='3') ﾌﾘｶﾞﾅ
                  td(colspan='2') LEE HO KYOUNG
                  td(rowspan='2')
                    .rounded-circle.mx-auto.p-2.text-danger.font-weight-bold(style='width:45px; border:2px solid #FF3636; white-space:normal;') #{user_info.user_nick}
                  td(colspan='4', rowspan='2')
                tr
                  td(colspan='3') 氏　名
                  td(colspan='2') #{user_info.user_nick}
                tr
                  td(colspan='3') 対応現場先
                  td(colspan='3') M14-PJT PH-2-B-1
                  td(rowspan='2', style='width:60px;') 日額
                  td(rowspan='2', style='width:60px;') 定時
                  td(rowspan='2', style='width:60px;') 殘業
                  td(rowspan='2', style='width:60px;') 夜間
                tr
                  td(style='width:60px;') 日
                  td(style='width:80px;') 曜日
                  td(style='width:150px;') 開始時刻
                  td(style='width:150px;') 終了時刻
                  td 内　容
                  td(style='width:150px;') 対応時間
              - var day = ['日', '月', '火', '水', '木', '金', '土'];
              - var total_time = 0;
              - var total_work_day = 0;
              - var total_work_under = 0;
              - var total_work_over = 0;
              tbody
                each row in list
                  - var date = new Date(row.date);
                  - var start = row.start_time ? row.start_time.split(':') : '';
                  - var end = row.end_time ? row.end_time.split(':') : '';
                  - var diff_hours = parseInt(end[0]) - parseInt(start[0]);
                  - var diff_min = (parseInt(end[1]) - parseInt(start[1])) / 60;
                  - var work_day = parseFloat(diff_hours) + parseFloat(diff_min);
                  - total_time += isNaN(work_day)?0:work_day;
                  - var work = parseFloat(work_day) >= 8 && parseFloat(work_day) <= 10 ? 1:0;
                  - var work_under = parseFloat(work_day) < 8 ? parseFloat(work_day) : 0;
                  - var work_over = parseFloat(work_day) > 10 ? parseFloat(work_day) : 0;
                  - total_work_day += work;
                  - total_work_under += work_under;
                  - total_work_over += work_over;
                  tr
                    td(title=row.date) #{date.getDate()}
                    td #{day[date.getDay()]}
                    td #{row.start_time}
                    td #{row.end_time}
                    td #{row.work_title}
                    td #{isNaN(work_day)?'':work_day.toFixed(2) + ' H'}
                    if(row.work_title !== '없음')
                      td #{parseFloat(work_day) > 8 ? 1: ''}
                      td #{parseFloat(work_day) > 8 ? '' : work_day}
                      td
                      td
                    else
                      td
                      td
                      td
                      td
                tr
                  td(colspan='5') 合計
                  td #{total_time.toFixed(2)} H
                  td #{total_work_day}
                  td #{total_work_under}
                  td #{total_work_over}
                  td 0
                tr
                  td(colspan='10')
                    .d-flex.justify-content-between
                      div
                      .border(style='width:230px; height:130px')
                        .mt-2(style='text-decoration:underline') 現場責任者様承認印
block append_js
  script.
    console.log(!{JSON.stringify(list)});
    console.log(!{JSON.stringify(user_info)});
    function fnSearchMonth(){
      location.href = '/work/test/list/' + document.querySelector('select').value;
    }