extends layout

block content
  .wrapper
    .container.d-flex.align-self-center(style='padding-top:10vh; max-height:80vh')
      .card.overflow-auto
        .card-header
          h3.m-3 공지사항
        .card-body.text-center
          ul.list-group.list-group-flush
            li.list-group-item.list-group-item-primary
              .row
                .d-none.d-md-block.col-md-1 #
                .col-9.col-md-5 제목
                .col-3.col-md-3 작성자
                .d-none.d-md-block.col-md-3 작성일
            if(list.length > 0)
              each row, idx in list
                - var isNew = row.read_user.toString().split(',').indexOf(user_id);
                - var date = new Date(row.created);
                li.list-group-item(class=idx%2===1?'list-group-item-secondary':'')
                  .row
                    .d-none.d-md-block.col-md-1 #{idx + 1}
                    .col-9.col-md-5
                      if(isNew === -1)
                        img.mr-2(src='/assets/svg/new_2.svg', width=18)
                      a(href='/notice/read/' + row._id) #{row.title}
                    .col-3.col-md-3 #{row.writer}
                    .d-none.d-md-block.col-md-3 #{date.toLocaleString('ko', {hour12:false, year:'numeric', month:'2-digit', day:'2-digit', hour:'2-digit', minute:'2-digit'})}
            else
              li.list-group-item
                .row
                  .col 등록된 글이 없습니다.
        .card-footer
  block append_js
    script.
