extends layout

block content
  .wrapper
    .content
      .space-100
      .container
        .row
          //.content-middle.mx-0.px-0
          .col-12.p-0
            .card.text-center.mt-3
              .card-header.mt-3
                h4.text-dark 근무일지 작성
              .card-body.text-dark
                form#workForm(name='workForm')
                  //, method='post', action='/work/insert', onsubmit='return fnCheckSubmit()')
                  .row
                    .col-lg-6.col-md-8.col-sm-6.my-1
                      .form-group
                        label.w80px 근무일
                        .d-inline-block.w220px
                          input#work_date.form-control.datetimepicker(type='text' name='work_date')
                    .col-md-6
                      .form-group
                        label.w80px 팀
                        .d-inline-block.w220px
                          input#user_team.form-control(type='text', name='work_team', value=user.user_team, readonly)
                  .row
                    .col-md-6
                      .form-group
                        label.w80px 지역
                        select#region.selectpicker(data-style="select-with-transition btn-neutral border text-dark btn-round w220px" name='region_name')
                          each item in region
                            option(value=item.region_name, selected=user.user_region===item.region_name) #{item.region_name}
                    .col-md-6
                      .form-group
                        label.w80px 현장명
                        .form-group.d-inline-block
                          input.form-control.w220px(type='text', name='work_place', value=user.work_place)
                  .row
                    .col-lg-6.col-md-8.col-sm-6.my-1
                      label.w80px 출근시간
                      .form-group.d-inline-block
                        input.form-control.w220px#timepicker_start(type='text', name='start_time', value=last_work.start_time||'')
                    .col-lg-6.col-md-8.col-sm-6.my-1
                      label.w80px 퇴근시간
                      .form-group.d-inline-block
                        input.form-control.w220px#timepicker_end(type='text', name='end_time', value=last_work.end_time)
                    .col-lg-6.col-md-8.col-sm-6.my-1
                      label.w80px 작업사항
                      .form-group.d-none(title='work_title')
                        .d-flex.w220px
                          input.form-control(type='text', name='work_title_etc')
                          a.addon-switch-selectbox(href='#', onclick='fnChangeSelect("work_title")') 작업선택
                      select#work_title.selectpicker(data-style="select-with-transition btn-neutral border text-dark btn-round w220px" data-live-search="true" name='work_title')
                        each item in work_title
                          option(value=item.work_title, selected=last_work.work_title===item.work_title) #{item.work_title}
                        option(value='직접입력' onselect='fnChangeSelect("work_title")') 직접입력
                    .col-lg-6.col-md-8.col-sm-6.my-1
                      label.w80px 비고
                      .form-group.d-none(title='remarks')
                        .d-flex.w220px
                          input.form-control(type='text', name='remarks_etc')
                          a.addon-switch-selectbox(href='#', onclick='fnChangeSelect("remarks")') 비고선택
                      select#remarks.selectpicker(data-style="select-with-transition btn-neutral border text-dark btn-round w220px" name='remarks')
                        each item in remark
                          option(value=item.remark) #{item.remark}
                        option(value='직접입력' onselect='fnChangeSelect("remarks")') 직접입력
                  //.row.d-none#closedHiddenWrap
                  //  .col-lg-5.col-md-8.col-12.ml-auto
                  //    .form-check.d-flex.justify-content-start
                  //      label.form-check-label
                  //        input.form-check-input#closedCheck(type='checkbox', disabled)
                  //        span.form-check-sign
                  //      a.btn.btn-link.text-primary.py-0.my-1(href='', data-toggle='modal', data-target='#closedModal', style='height:26px;') 휴무계작성

                  .row.justify-content-center
                    button.btn.btn-success(type='button' onclick='fnCheckSubmit()') 등록하기
                      i.now-ui-icons.ui-1_check
                  input(type='hidden', name='temp_start_time', value=last_work.start_time)
                  input(type='hidden', name='temp_end_time', value=last_work.end_time)
    // 공지사항 모달창
    #noticeModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='noticeModalLabel', aria-hidden='true')
      .modal-dialog.modal-lg(role='document')
        .modal-content
          .modal-header
            h5#noticeModalLabel.modal-title 공지사항
            button.close.text-dark(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') x
          .modal-body.text-center
            ul.list-group.list-group-flush
              li.list-group-item.list-group-item-primary
                .row
                  .d-none.d-md-block.col-md-1 #
                  .col-9.col-md-5 제목
                  .col-3.col-md-3 작성자
                  .d-none.d-md-block.col-md-3 작성일
              if(notice_list.length > 0)
                each row, idx in notice_list
                  - var isNew = row.read_user.toString().indexOf(user._id);
                  - var date = new Date(row.created);
                  li.list-group-item
                    .row
                      .d-none.d-md-block.col-md-1 #{idx + 1}
                      .col-9.col-md-5
                        if(isNew === -1)
                          img.mr-2(src='/assets/svg/new_2.svg', width=18)
                        a(href='/notice/read/' + row._id) #{row.title}
                      .col-3.col-md-3 #{row.writer}
                      .d-none.d-md-block.col-md-3 #{date.toLocaleString('ko', {hour12: false,year: 'numeric',month: '2-digit',day: '2-digit',hour: '2-digit',minute: '2-digit'})}
              else
                li.list-group-item
                  .row
                    .col 등록된 글이 없습니다.
            if(!isReportBusiness)
              .row
                .col
                  .d-flex.justify-content-start
                    h6.text-danger.pt-3 월간업무 보고서 '미제출'
                    a.bnt.btn-link.h6.pt-3(href='/work/business') 제출하러가기
          .modal-footer.justify-content-center
            button.btn.btn-danger.mr-3(type="button" data-dismiss="modal") 닫기

block append_js
  script(src='/assets/js/custom/work.js', type='text/javascript')
  script.
    console.log(!{JSON.stringify(user)});
    console.log(!{JSON.stringify(isReportBusiness)});
    let user = !{JSON.stringify(user)};
    let notice_list = !{JSON.stringify(notice_list)};
    if(notice_list.length > 0) $('#noticeModal').modal('show');
